  [Desktop Entry]
  Name=Mavericks Dashboard
  Comment=This is dashboard from mavericks for controlling automobile vehicles using raspberrypi 
  Exec=mavericks-dashboard-app 
  Icon=${SNAP}/meta/gui/mavericks-dashboard-app.png # replace name to your app name
  Terminal=false
  Type=Application
  Categories=Utilities; #adjust accordingly your snap category
